@media (max-width: 1620px){
	
}	

@media (max-width: 1300px){
	
}
@media (max-width: 1200px){
	.container{
		padding-left: 10px;
    padding-right: 10px;
	}
	.row {
    margin-left: -10px;
    margin-right: -10px;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
	}
	.nav{
		display: none;
	}
	.nav-sub{
		display: none;
	}
	body{
		padding-top: 60px;
	}
	.head{
		padding-top: 5px;
		padding-bottom: 5px;
		&__itt{
			&-2{
				display: none;
			}
			&-3{
				display: none;
			}
			&-4{
				display: none;
			}
			&-5{
				display: none;
			}

		}
	}
	.d-n-1200{
		// display: none;
		// position: static;
	}
	.jum{
		z-index: 9;
		// position: static;
		&__wrr-1{
			&.jum__wrr{
				position: fixed;
				z-index: 99999;
				top: 0px;
				left: 0;
				display: none;
				animation: navAppear 0.6s;
			}	
		}	
	}
	.jum{
		.butt{
			font-size: 14px;
		}
	}
	.butt{
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.to-calcc{
		display: inline-block;
		

	}
}

@media (max-width: 1140px){

}

@media (max-width: 992px){
	
}

@media (max-width: 880px){
	.imgg__overr{
		padding-left: 0;
		padding-right: 0;
		&-cloz{
			right: 20px;
		}
	}
	.pts1{
		&__lisst{
			display: block;
		}
		&__img{
			margin-bottom: 0;
			img{
				max-width: 112px;
			}
			&:after{
				display: none;
				// left: 20px;
				// bottom: -25px;
				// right: auto;
    // 		top: auto;
    // 		z-index: 9;
			}
		}
		&__inn{
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 35px;
			&:last-child{
				height: 150px;
				.pts1__img{
					width: 100%;
				}
			}
		}
		&__txt{
			margin-top: 0;
			flex: 1;
			padding-left: 20px;
		}	
	}
}

@media (max-width: 768px){
	.mapp{
		min-height: 350px;
	}
	.knoww{
		&__blck{
			&-it{
				flex-basis: 50%;
			}
		}
		&__input{
			&-wrr{
				// flex-basis: 100% !important;
				&-2{
					display: block;
				}
			}
		}
		&__submit{
			display: block;
			width: 100%;
			margin-top: 20px;
		}
	}

	.s{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.featt{
		padding-top: 50px;
		&__wrr{
			display: flex;
			align-items: center;
		}
		&__img{
			margin-bottom: 0;
		}
		&__blck{
			&:last-child{
				flex: 1;
				// text-align: left;
				padding-left: 10px;
			}
		}
		&__img{
			max-width: 100px;
		}
	}
	.sect-title{
		font-size: 30px;
	}
	.jum{
		&__lisst{
			&.offerr__bulls{
				display: none;
			}
		}
		.container{
			width: 100%;
		}
		&__sliddr{
			&-dots{
				display: none;
			}
		}
	} 
	.offerr{
		&__lisst{
			display: block;
		}	
	}
	.stepp{
		&__img{
			margin-bottom: 10px;
			// flex-basis: 113px;
			&:after{
				display: none;
			}
		}
		&__inn{
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			p{
				flex: 1;
				text-align: left;
				padding-left: 20px;
			}
		}
	}
	.copyr{
		font-size: 14px;
		margin-bottom: 20px;
	}
	.footer{
		&-2{
			&__soc{
				text-align: center;
				margin-bottom: 30px;
				margin-top: 0;
				li{
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}
	}

	.podzal1{
		&__list{
			padding-left: 0;
		}
	}
}

@media (max-width: 749px){
	
}

@media (max-width: 550px){

}

@media (max-width: 480px){
	.podzal1{
		&__list{
			display: block;
		}
		&__it{
			display: block;
			margin-bottom: 40px;
		}
	}
}