@import "hamburgers"; 
@import "bootstrap"; 
@import "fonts";
@import "vars"; 
@import "buttons";
@import "form";   
@import "modal";  
@import "menu";  
@import "hacks"; 
@import "slick"; 

@import "jquery-ui"; 



body{
	font-family: $f-h-c, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	// color: $c-bck;
	line-height: 1.5;
	background-color: $c-wh;
	opacity: 0;
	transition: opacity .3s linear;
	position: relative;
	color: $c-bck;
	padding-top: 130px;
	&.loaded{
		opacity: 1;
	}
}  

.head{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: $c-wh;				
	position: fixed;
	z-index: 9999;
	left: 0;
	right: 0;
	top: 0;
	transition: all .3s linear;
	&.active{
		
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: 0 0 15px #cccccc;
	

		// animation: navAppear 0.6s;
	}
	&__itt{
		p{
			position: relative;
			padding-left: 30px;
			.icon{
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		
		&-2{
			// padding-left: 30px;
		}
		&-3{
			p{
				&:last-child{
					a{
						color: $c-bck;
					}							
				}
			}

		}
		&-4{
			a{
				color: $c-bck;
			}
		}
	}
	&__wrr{
		display: flex;
		// flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}

.nav{
	&__menu{
		text-align: center;
		font-size: 14px;
		li{
			display: inline-block;
			margin: 0 10px;
		}
		a{
			padding: 12px 15px;
			display: block;
			text-transform: uppercase;
			color: $c-bck;
			&:hover{
				box-shadow: inset 0 -2px 0 $c-bl;
				text-decoration: none;
				color: $c-bl;
			}
			&.acct{
				box-shadow: inset 0 -2px 0 $c-bl;
				color: $c-bl;
			}
		}
	}
	&-sub{
		&__menu{
			list-style-type: none;
			li{
				display: inline-block;
			}
			.act{
				a{
					box-shadow: inset 0 -3px 0  $c-bl;
					color: $c-bck;
				}
			}
			a{
				display: block;
				padding: 15px 10px;
			}
		}
	}
	&__close{
		width: 24px;
		height: 24px;
		position: absolute;
		right: 10px;
		top: 10px;
		background: url('../img/menu-close.png') center no-repeat;
		cursor: pointer;
		display: none;
	}
}

.jum{
	position: relative;
	&__buttz{
		display: flex;
		justify-content: space-between;
	}
	&__sliddr{
		&-dots{
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			text-align: center;
			li{	
				display: inline-block;
				margin: 10px;
				font-size: 0;
				padding: 4px;
				background-color: $c-wh;
				border-radius: 50%;
				&.slick-active{
					button{
						background-color: $c-bl;
					}
				}
			}
			button{
				width: 8px;
				height: 8px;
				border: none;
				border-radius: 50%;
				background-color: $c-wh;
			}
		}
		&-itt{
			min-height: 439px;
		}
	}
	.container{
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&__titl{
		font-size: 22px;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	&__wrr{
		padding-top: 50px;
		padding-bottom: 30px;
		&-2{
			min-height: 439px;
			position: relative;
		}
	}
	&__calc{
		&-wrr{
			background-color: #F2F6F8;
			border-radius: 4px;
			padding: 6px;
		}
		&-form{
			padding: 15px 10px;
			border: 1px solid #D3DDE1;
			font-size: 14px;
		}
		&-sel{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.button{
				background-color: transparent;
				border-radius: 4px;
				border: 1px solid #B3B3B3;
				flex-basis: 48.5%;
				margin-bottom: 15px;
				height: 40px;
				text-align: center;
				line-height: 38px;
				color: $c-bck;
				&:hover{
					text-decoration: none;
				}
			}
			.acct{
				background-color: $c-yw;
				border: 1px solid $c-yw;
				
			}
		}
		&-blck{
			margin-bottom: 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-inp{
			max-width: 80px;
			display: block;
			width: 100%;
			text-align: center;
			height: 33px;
			border: 1px solid #ccc;
		}
		&-label{
			display: block;
		}
		&-sliddr{
			margin-bottom: 15px;
		}
		&-butt{
			margin-top: 10px;
			margin-bottom: 5px;
		}
	}
	&__lisst{
		font-size: 17px;
		margin-top: 30px;
		font-weight: 400;
	}
	&__cont{
		&-slider{
			.jum__titl{
				transition: opacity 0.8s linear, transform 0.8s linear;
				transform: translateY(-200px);
				opacity: 0;
			}

			.butt{
				transition: opacity 0.8s linear, transform 0.8s linear;
				transform: translateX(200px);
				opacity: 0;
			}
			.jum__lisst{
				transition: opacity 0.8s linear, transform 0.8s linear;
				transform: translateY(200px);
				opacity: 0;	
			}

			.slick-active{
				.jum__titl{
					opacity: 1;
					transform: translateY(0px);
				}
				.butt{
					transform: translateX(0px);
					opacity: 1;
				}
				.jum__lisst{
					transform: translateY(0px);
					opacity: 1;	
				}
			}	
		}
	}
}//.jum

.featt{
	padding-top: 120px;
	&__wrr{
		text-align: center;
		margin-bottom: 50px;
	}
	&__img{
		display: inline-block;
		margin-bottom: 30px;
	}
	&__title{
		font-size: 17px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}

.stepp{
	&-1{
		margin-left: 90px;
	}
	&-3{
		margin-right: 90px;
		.stepp__img{
			&:after{
				display: none;
			}
		}
	}
	&__img{
		width: 113px;
		height: 113px;
		background-color: $c-bl;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px auto 30px;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			// width: 100%;
			width: 150px;
			height: 2px;
			background-color: $c-bl;
			right: -190px;
		}
	}
	&__inn{
		text-align: center;
		margin-top: 40px;
		margin-bottom: 50px;
	}
}//.stepp


.offerr{
	&__img{
		min-height: 178px;

	}
	&__lisst{
		display: flex;
		flex-wrap: wrap;	
		justify-content: space-between;
	}
	&__itt{
		flex-basis: 30%;
		border: 1px solid #E9EAEB;
		border-radius: 5px;
		margin-bottom: 30px;
		box-shadow: -4px 0 10px #cccccc;
		transition: all .3s ease;
		&:hover{
			border: 1px solid $c-yw;

		}
	}
	&__titl{
		text-transform: uppercase;
		font-size: 17px;
		text-align: center;
		margin-bottom: 15px;
	}
	&__bulls{
		list-style-type: none;
		li{
			margin-bottom: 15px;
			line-height: 1.2;
			padding-left: 25px;
			position: relative;
			&:before{
				content: "";
				width: 12px;
				height: 12px;
				background-color: $c-yw;
				position: absolute;
				left: 0;
				top: 4px;
				border-radius: 50%;
			}
		}	
	}
	&__txt{
		padding: 30px 25px;
	}
}


.partt{
	&__itt{
		border: 1px solid #E9EAEB;
		min-height: 100px;
		display: flex !important;
		align-items: center;
		justify-content: center;
		padding: 10px;
		margin-right: 10px;
		margin-left: 10px;
	}
	
	&__sliddr{
		&-wrapp{
			padding-left: 20px;
			padding-right: 20px;
			position: relative;
			margin: 60px 0;
		}
		&-control{
			position: absolute;
			top: 50%;
			margin-top: -17px;
			cursor: pointer;
		}
		&-prev{
			left: 0;				
		}	
		&-next{
			right: 0;
		}
	}

}//.partt


.reww{
	&__sliddr{
		
		&-wrapp{
			position: relative;
			padding-left: 20px;
			padding-right: 20px;
		}

		&-itt{
			position: relative;
			cursor: pointer;
			// margin-left: 15px;
			// margin-right: 15px;
			img{
				margin-left: auto;
				margin-right: auto;
			}			
		}

		&-prev{
			left: 0;
		}
		&-next{
			right: 0;
		}
	}
}

.imgg__overr{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	padding: 100px;
	text-align: center;
	animation: logAppear 0.6s;
	overflow-y: auto; 
	&-wrr{
		display: inline-block;
		position: relative;
		box-shadow: 0 0 30px #cccccc;
	}
	&-cloz{
		position: absolute;
		z-index: 9;
		right: -30px;
		top: 0px;
		color: red;
		font-weight: bold;
		font-size: 40px;
		cursor: pointer;
	}
	img{
		display: inline-block;
	}
}

.footer-1{
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 18px;
	a{
		text-decoration: underline;
		color: $c-bl;
		&:hover{
			text-decoration: none;
		}
	}
	&__wrr{
		text-align: center;
	}
}



.footer-2{

	&__blck{
		float: left;
		&-1{
			margin-right: 50px;
			.head__itt{
				&:first-child{
					margin-bottom: 25px;
				}
			}
		}
		&-2{
			.head__itt{
				&:first-child{
					margin-bottom: 25px;
				}
			}	
		}
	}
	a{
		color: $c-bck;
	}

	&__soc{
		list-style-type: none;
		text-align: right;
		margin-top: 15px;
		li{
			display: inline-block;
			margin-left: 20px;
		}
		i{
			&:last-child{
				display: none;
			}
		}
		a{
			&:hover{
				i{
					display: none;
					&:last-child{
						display: inline-block;
					}
				}
			}
		}
	}
}

.copyr{
	text-align: center;
	font-size: 10px;
	margin-bottom: 40px;
}

.ui-widget-header{
	background-color: $c-yw;
}
.ui-widget-content{
	background-color: #B3B3B3;
}

.ui-state-default{
	background: transparent url('../img/handdl.png') center no-repeat !important;
	width: 25px	!important;
	height: 25px	!important;
	border: none !important;
	cursor: pointer !important;
	top: -7px !important;
}


.knoww{
	&__wrapp{
		font-size: 14px;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	&__blck{
		&-fx{
			display: flex;
			flex-wrap: wrap;
		}
		&-it{
			flex-basis: 33.33%;
			margin-bottom: 10px;
		}
	}

	&__input{
		&-wrr{
			background-color: #F2F5F7;
			border: 1px solid #D1DADE;
			border-radius: 5px;
			padding: 10px 20px;
			margin-bottom: 20px;
			&-2{
				display: flex;
				justify-content: space-between;
				align-items: center;
				.knoww__input-wrr{
					flex-basis: 48%;
				}
				&-blck{
					flex-basis: 48%;
					p{
						font-size: 11px;
					}
					.req{
						color: red;
					}
					// display: flex;
					// align-items: center;
				}
			}
			input{
				width: 100%;
				display: block;
				border: none;
				background-color: transparent;
			}
			label{
				display: block;
				font-size: 11px;
				margin-bottom: 6px;
				.req{
					color: red;
				}
			}
		}
	}
	&__submit{
		height: 60px;
	}
} //.knoww


.mapp{
	min-height: 500px;
	width: 100%;
}

.podzal1{
	position: relative;
	top: 50px;
	&__list{
		// text-align: right;
		font-size: 17px;
		text-transform: uppercase;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding-left: 400px;
		justify-content: space-between;
	}
	&__it{
		display: inline-block;
		text-align: center;
		// vertical-align: top;
	}
	&__txt{
		// text-align: center;
	}
	&__img{
		margin-bottom: 30px;
	}
}


.pts1{
	&__lisst{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__img{
		margin-bottom: 15px;
		display: flex;
		min-height: 180px;
		align-items: center;
		justify-content: center;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			right: -75px;
			top: 50%;
			width: 22px;
			height: 22px;
			background-color: red;
			margin-top: -11px;
			background: url('../img/pluss.png') center no-repeat;
		}
	}
	&__inn{
		display: flex;
		flex-direction: column;
		// justify-content: center;

		text-align: center;
		&:nth-child(3){
			.pts1__img{
				&:after{
					background: url('../img/equall.png') center no-repeat;
				}
			}
		}
		&:last-child{
			.pts1__img{
				&:after{
					display: none;
				}
			}
		}
	}
	&__txt{
		margin-top: auto;
	}
}

.mob-calc{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba( 255, 255, 255, 0.6 );
	overflow-y: auto;
	padding: 100px 0;
	z-index: 99;
	display: none;
	animation: faddeIn 0.6s;
}

@keyframes faddeIn {
  0%{
  	opacity: 0;
  }
  100% { 	
  	opacity: 1;
 }
}


@keyframes navAppear {
  0%{
  	opacity: 0;
  	transform: translateY(-200px);
  }
  100% { 	
  	opacity: 1;
  	transform: translateY(0px);
 }
}



@keyframes logAppear {
  0%{
  	opacity: 0;
  	transform: scale(0, 0);
  }
  100% { 	
  	opacity: 1;
  	transform: scale(1, 1);
 }
}

@keyframes mobMenuAppear {
  0%{
  	opacity: 0;
  	transform: translateX(100px);
  }
  100% { 	
  	opacity: 1;
  	transform: translateX(0px);
 }
}





// @keyframes showTitle {
//    0%{
//   	opacity: 0;
//   	transform: translateY(200px);
//   }
//   100% { 	
//   	opacity: 1;
//   	transform: translateY(0px);
//  }
// }

@import "media";